* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    text-align: center;
}

.main img {
    margin-top: 260px;
    /*width: 454px;*/
    width: 908px;
    margin-bottom: 10px;
}

.main p, .main a {
    font-family: HelveticaNeue;
    /*font-size: 16px;*/
    font-size: 26px;
    color: #727272;
    text-decoration: none;
    margin: 50px auto;
}

.main a:hover, .main a:focus {
    color: #727272;
    text-decoration: none;
}