@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-regular.otf');
}

@font-face {
    font-family: 'GilroyBold';
    src: url('../font/gilroy-bold.otf');
}

* {
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #f4f4f4;*/
    background-color: #ffffff;
    text-align: center;
}

.main {
    font-size: 0px;
}

.main img {
    margin-top: 168px;
    width: 454px;
    /*width: 908px;*/
    /*margin-bottom: 10px;*/
    font-size: 0;
}

.title {
    font-family: GilroyBold;
    font-weight: bold;
    color: #424242;
    font-size: 36px;
    margin: 30px auto 40px;
}

.email {
    width: 300px;
    height: 54px;
    line-height: 50px;
    border: 2px solid #87B2FF;
    border-radius: 27px;
    margin: 40px auto 0;
}

.main a {
    font-size: 22px;
    color: #87B2FF;
    text-decoration: none;
}

.main a:hover, .main a:focus {
    color: #87B2FF;
    text-decoration: none;
}

.brief {
    font-size: 12px;
    font-style: italic;
    color: #8e8e8e;
    display: block;
    position: absolute;
    bottom: 88px;
    margin: auto;
    width: 760px;
    left: 0;
    right: 0;
}